// Colors
$primary: #2db84d;
$primary-hover: #26a443;
$background: #f6f8f5;
$border: #dfe6e9;
$danger: #e74c3c;
$text: #2d3436;

.edit-row{
  display: flex; gap: 8px; align-items: center; 
}

.input-edit{
  border: none;
  width: 80%;
}

ul {
  display: flex;
  flex-direction: column; /* Use 'row' for horizontal lists */
  gap: 20px;              /* This creates the space */
  margin-left: 10px; /* Optional: Add padding to the top and bottom of the list */
}

.app-container {
  height: 100vh;
  background: $background;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", Roboto, Arial, sans-serif;

  .todo-card {
    width: 420px;
    background: white;
    border-radius: 10px;
    padding: 30px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

    .title {
      text-align: center;
      margin-bottom: 25px;
      color: $text;
    }

    .input-row {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      input {
        flex: 1;
        padding: 10px;

        border: 1px solid $border;
        border-radius: 6px;
        font-size: 14px;

        &:focus {
          outline: none;
          border-color: $primary;
        }
      }

      button {
        padding: 10px 16px;
        border: none;
        border-radius: 6px;

        background: $primary;
        color: white;

        font-weight: 500;
        cursor: pointer;

        transition: background 0.2s;

        &:hover {
          background: $primary-hover;
        }
      }
    }

    .button-positive {
      button {
        padding: 6px 12px;
        border: none;
        border-radius: 6px;

        background: $primary;
        color: white;

        font-weight: 500;
        cursor: pointer;

        transition: background 0.2s;

        &:hover {
          background: $primary-hover;
        }
      }
    }

    .button-negative {
      button {
        padding: 6px 12px;
        border: none;
        border-radius: 6px;

        background: $danger;
        color: white;

        font-weight: 500;
        cursor: pointer;

        transition: background 0.2s;

        &:hover {
          background: #e74c3c99;
        }
      }
    }

    .task-list {
      list-style: none;
      padding: 0;
      margin: 30px 0 0;

      .task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 12px;
        border-bottom: 1px solid #f0f0f0;

        span {
          color: $text;
        }

        .delete {
          background: transparent;
          color: $danger;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background: #fdecea;
          }
        }
      }
    }
  }
}