<div class="app-container">

  <div class="todo-card">

    <h1 class="title">My Tasks</h1>

    <div class="input-row">
      <input
        type="text"
        placeholder="Add a task..."
        [value]="newTask()"
        (input)="newTask.set($any($event.target).value)"
      />
      <button (click)="addTask()">Add</button>
    </div>

    <ul>
      @for (task of store.tasks(); track task.id) {
        <li>
          @if (editingTaskId() !== task.id) {
            <div class="edit-row">
            {{ task.title }}
              <div class="button-positive">
                <button (click)="startEdit(task)">Edit</button>
              </div>
              <div class="button-negative">
                <button (click)="deleteTask(task.id)">Delete</button>
              </div>
            </div>
          } 
          @else {
            <div class="edit-row">
              <div class="input-edit">
                <input
                  [value]="editedTitle()"
                  (input)="editedTitle.set($any($event.target).value)"
                />
              </div>
                <div class="button-positive">
                  <button (click)="saveEdit(task.id)">Save</button>
                </div>
                <div class="button-negative">
                  <button (click)="cancelEdit()">Cancel</button>
                </div>           
            </div>
          }
        </li>

      }
    </ul>

  </div>

</div>
